{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Quote{% endblock title %}
{% block main-content %}


<style>
    .noorder{
        width: 40%;
    }

        .d-grid{
            border-bottom: 2px solid #000;
            margin: 10px;
        }
        .d-grid a{
            font-size: 20px;
            font-weight: bold;
        }
    
        .d-grid a:hover{
            padding: 10px 40px;
            color: #fff!important;
            background-color: #EF0502;
            border-radius: 20px;
        }

</style>

<div class="container my-5 ordersec">
 <div class="row">
  <div class="col-md-2 border-right">
   <ul class="list-unstyled">
    {% if request.user.is_superuser %}
        <li class="d-grid"><a href="{% url 'orders' %}" class="btn">Orders</a></li>
        <li class="d-grid"><a href="{% url 'customerquote' %}" class="btn">Quote</a></li>
        {% else %}   
        <li class="d-grid"><a href="{% url 'orders' %}" class="btn">Orders</a></li>
        <li class="d-grid"><a href="{% url 'customerquote' %}" class="btn">Quote</a></li>
        <li class="d-grid"><a href="{% url 'editprofiledetails' %}" class="btn">Details</a></li>
    {% endif %}
   </ul>
  </div>
  <div class="col-md-8 offset-md-1">
    {% if cq %}
      {% for op in cq %}
      </a>
   <div class="row shadow-sm mb-3">
    
       <div class="col-md-3 orderimg">
            <a href="{% url 'productdetail' op.product.id %}">
                <img src="{{op.product.sub_product_image.url}}" class="img-fluid" height="200" width="230" alt="">
            </a>
        </div>

       <div class="col-md-6 text-md-left">

            <h4>{{op.product.sub_title}}</h4>
            <h5>Price: {{op.product.selling_price}}</h5>
            <h5 class="info-text">Duration:&nbsp;{{op.product.duration_year}} Years {{op.product.duration_month}} Month</h5>

       </div>
       <div class="col-md-3 fw-bold mb-5">
        <td><a href="{% url 'customerquotedelete' op.id %}" class='text-danger'><i class='fa fa-trash'  style='font-size:22px;'></i></a></td>

    </div>
   </div>
   
   {% endfor %}
   {% else %}
   <div class="container">
    <div class="text-center emptyadddiv">
        <img src="{% static 'accounts/images/noorders.png' %}" alt="" class="img-fluid noorder">
        <h3 class="mt-3 text-bold"> You haven't Quoted yet! </h3>
    </div>
    </div>
   {% endif %}
  </div>
 </div>
</div>
{% endblock main-content %}